.order__number {
    text-shadow: 1px 1px 1px #4C4CFF, 0 0 1em #4C4CFF;
}

.order__pic {
    width: 120px;
}

.order__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 60px;
}