@import url("../../../utils/colors.css");

.modal__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--overlay-bg);
  overflow: hidden;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
