.burger__summary {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-top: 40px;
}

.burger__totalprice {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
}

.burger__summarytext {
  margin-right: 9.5px;
}
