@import url("../../utils/colors.css");

.modal__content {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--modal-bg);
  border-radius: 40px;
  padding: 40px;
}

.modal__close {
  position: absolute;
  top: 60px;
  right: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
