@import url("../../../utils/colors.css");

.burger__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.border {
  border-color: #4c4cff;
}

.burger__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burger__scroll::-webkit-scrollbar {
  background-color: var(--scrollbar-dark);
  height: 664px;
  width: 8px;
}

.burger__scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-light);
  height: 464px;
  width: 8px;
}

.burger__section {
  height: 852px;
  padding-top: 100px;
}

.burger__dragdrop {
  width: 32px;
  cursor: pointer;
}

.burger__scroll {
  overflow-y: scroll;
  height: 464px;
}

.hint {
  height: 70%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  border: 3px dotted #4c4cff79
}
