:root {
  --overlay-bg: rgba(28, 28, 28, 0.6);
  --modal-bg: rgba(28, 28, 33, 1);
  --text-shadow: #4c4cff;
  --white-txt: rgba(242, 242, 243, 1);
  --scrollbar-dark: rgba(47, 47, 55, 1);
  --scrollbar-light: rgba(133, 133, 173, 1);
}
